[submodule "java"]
	path = java
	url = https://github.com/Azure/azure-event-hubs-java.git
[submodule "dotnet"]
	path = dotnet
	url = https://github.com/azure/azure-event-hubs-dotnet.git
[submodule "node"]
	path = node
	url = https://github.com/Azure/azure-event-hubs-node.git
[submodule "c"]
	path = c
	url = https://github.com/Azure/azure-event-hubs-c.git
